
/* TODO: add a css reset here - (maybe just take the twitter bootstrap kit) */

/* General styles */
.float { float:left; }
.float-right { float:right; }
.breaker { clear:both; }
.hidden { display:none; }
.invisible { visibility:hidden; }

div#main { margin-top:40px; }

/* homepage */
.openid.google { display:inline-block; background-image:url('openid-google-logo.png');
				 width:150px; height:85px; cursor:pointer; border:solid 1px; }

/* Bookmark list styles */

#bookmarks-list { display:inline-block; width:600px; }
.bookmark-wrapper { margin-bottom:10px; }
.bookmark-wrapper .title { font-weight:bold; font-size:14px; }
.bookmark-wrapper .title .delete-bookmark { font-size:14px; color:Red; cursor:pointer; }
.bookmark-wrapper .title .delete-bookmark:hover { text-decoration:underline; }
.bookmark-wrapper .url { font-size:14px; }
.bookmark-wrapper .tags { font-weight:bold; font-size:11px; }
.bookmark-wrapper .tags .tag { display:inline-block; margin-right:5px; background-color:orange; padding:5px; }
.bookmark-wrapper .tags .tag .delete-tag { border-right:solid 1px black; cursor:pointer; margin-right:5px; padding:5px; color:Red; }
.bookmark-wrapper .tags .tag .delete-tag:hover { background-color:Red; color:White; }

/* tiny bootstrap fixes */
.add-bookmark-form .add-bookmark { margin-bottom:10px; margin-left:10px; }
.tag .delete-tag { padding-right:4px; padding-left:4px; }