
/* TODO: add a css reset here - (maybe just take the twitter bootstrap kit) */

/* General styles */
.float { float:left; }
.float-right { float:right; }
.breaker { clear:both; }
.hidden { display:none; }
.invisible { visibility:hidden; }

div#main { margin-top:40px; }

/* homepage */
.openid { display:inline-block; width:150px; height:85px; cursor:pointer; border:solid 1px; margin-right:12px; }
.openid.google { background-image:url('openid-google-logo.png'); }
.openid.yahoo { background-image:url('openid-yahoo-logo.png'); }
.openid.aol { background-image:url('openid-aol-logo.png'); }

/* Bookmark list styles */
#bookmarks-list { }
#bookmarks-list .bookmark-wrapper { padding:6px; margin-bottom:6px; }
#bookmarks-list .bookmark-wrapper:hover { background-color:#e6e6e6; }
#bookmarks-list .url { font-size:18px; cursor:pointer; }
#bookmarks-list .delete-bookmark { font-size:14px; font-weight:bold; color:red; margin-left:10px; padding:0 8px; cursor:pointer; }
#bookmarks-list .delete-bookmark:hover { color:white; background-color:red; }
#bookmarks-list .url-wrapper { margin-bottom:4px; }

/* tiny bootstrap fixes */
.tag .btn-primary { font-size:12px; padding-top:0px; padding-bottom:0px; }
.tag.btn-group .btn.btn-primary { font-size:12px; }
.add-bookmark-form .add-bookmark { margin-bottom:10px; margin-left:10px; }
.tag .delete-tag { padding-right:4px; padding-left:4px; }