<div class="bookmarks-list">

    <div class="title">
        Your bookmarks
    </div>
    <div class="filters" ng-show="filters.length">
        Filtered by :
            <span ng-repeat="filter in filters">
                <span class="tag-item" ng-bind-template="{{filter}}"></span>
                <span ng-if="!$last">, </span>
            </span>
        <span class="save-filter small-link" ng-click="saveSearch()">Save this search</span>
    </div>

    <div class="list">
        <bookmark ng-repeat="bookmark in bookmarks" bookmark="bookmark"></bookmark>
    </div>

    <div class="empty-list" ng-show="bookmarks.length == 0">
        Please add some bookmarks so we can be friends.<br/>
        Pretty please with a cherry on top!
    </div>

</div>