<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="link pull-right" ng-click="logout()">Logout</span>
        <user-presence></user-presence>

        <img class="logo" ng-click="goHome()" src="img/bookmarkies_logo.png"/>
    </div>
</nav>

<div class="main-container" class="clearfix">

    <div class="right-column pull-right">
        <tags-list></tags-list>
        <bookmark-lists></bookmark-lists>
        <saved-searches></saved-searches>
    </div>

    <div class="main-column">

        <div class="title">
            <i class="fa" ng-class="{'fa-star':list.starred, 'fa-star-o':!list.starred}" ng-click="star()"></i>
            <span ng-bind-template="{{list.name}}"></span>
        </div>

        <div class="bookmarks-list">

            <div class="list">
                <bookmark ng-repeat="bookmark in list.bookmarks" bookmark="bookmark"></bookmark>
            </div>

            <div ng-if="!list.bookmarks || list.bookmarks.length == 0" class="empty-list">
                This list seems to be empty...<br/>
                Not very nice of you to leave an empty list :(
            </div>

        </div>

    </div>

</div>