<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="link pull-right" ng-click="logout()">Logout</span>
        <user-presence></user-presence>

        <img class="logo" ng-click="goHome()" src="img/bookmarkies_logo.png"/>
    </div>
</nav>

<div class="main-container" class="clearfix">

    <div class="right-column pull-right">
        <tags-list></tags-list>
        <bookmark-lists></bookmark-lists>
        <saved-searches></saved-searches>
    </div>

    <div class="main-column">

        Hello world

    </div>

</div>