doctype 5
html
	head
		title Bookmarki.es - A place for bookmarks

		link(href='../main2.css',rel='stylesheet',media='screen')

	body
		div#container
			div#header
				div#nav-area
					span.logo.float Bookmarki.es
					div.float-right.clearfix
						a About
						a Contact

			div#content
				div#mainbar
					div.title
						h1 My Bookmarks
						div.tabs
							a Add Bookmark
							a Search

					div#bookmarks-list-wrapper
						// This part repeats itself
						div.bookmark-wrapper
							a.bookmark-title Google - my favorite search engine
							div.url http://www.google.com
							div.tags
								a.tag(href='#') search
								a.tag(href='#') search-engines
								a.tag(href='#') everything
								a.tag(href='#') bored


				//
					div#sidebar
						div.module
							h4 Lists


		script(type='text/javascript',language='javascript')
			var Bookmarkies = Bookmarkies || {};
			Bookmarkies.Bookmarks = !{JSON.stringify(Bookmarks)};