doctype 5
html
	head
		title Bookmarki.es - A place for bookmarks
		link(href='main.css',rel='stylesheet',media='screen')
		link(href='bootstrap.css',rel='stylesheet',media='screen')
		link(href='bootstrap-responsive.css',rel='stylesheet',media='screen')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src='bootstrap.js')
		script(src='homepage.js')

		script(src='bookmarkList.js')
		script(src='bookmarks.js')

	body
		div#main
			div.container.add-bookmark-form
				h1 Bookmarki.es - A place for bookmarks
				p
					| Add a bookmark
					div.control-group
						div.controls
							input.input-xxlarge#bookmark-url(type='text',placeholder='Url')
					div.control-group
						div.controls
							input.input-xxlarge#bookmark-tags(type='text',placeholder='Tags (press \'enter\' to create tag)')
							button.btn.add-bookmark#add-bookmark(type='submit') Add Bookmark
					
					div.control-group#new-bookmark-tag-list
						
						// This is a block comment and Im on a horse :)
							div.btn-group.tag
								a.btn.btn-primary Just a tag
								a.btn.btn-primary.delete-tag
									span
										i.icon-remove

			div.container.bookmark-container
				h3 Bookmarks
				div#bookmarks-list
					| <!-- Here is the bookmark list -->

		script(type='text/javascript',language='javascript')
			var Bookmarkies = Bookmarkies || {};
			Bookmarkies.Bookmarks = !{JSON.stringify(Bookmarks)};