doctype 5
html
	head
		title Bookmarki.es - A place for bookmarks

		link(href='../main2.css',rel='stylesheet',media='screen')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='dust-full-0.3.0.min.js');
		script(src='bookmarks2.js');

	body
		div#container
			div#header
				div#nav-area
					span.logo.float Bookmarki.es
					div.float-right.clearfix
						a About
						a Contact

			div#content
				div#mainbar
					div.title
						h1 My Bookmarks
						div.tabs
							a.add-bookmark-tab Add Bookmark
							a.search-bookmarks-tab Search

					include addBookmarkForm

					include searchBookmarkForm

					div#bookmark-template(style='display:none;')
						| {#bookmarks}
						| 	<div class='bookmark-wrapper'>
						| 		<a class='bookmark-title'>{title}</a>
						| 		<div class='url'>{url}</div>
						| 		<div class='tags'>
						| 			{#tags}
						| 				<a class='tag' href='#'>{name}</a>
						| 			{/tags}
						|		</div>
						|	</div>
						| {/bookmarks}

					div#bookmarks-list-wrapper
						// This is the bookmark template
						div.bookmark-wrapper
							a.bookmark-title Google - my favorite search engine
							div.url http://www.google.com
							div.tags
								a.tag(href='#') search
								a.tag(href='#') search-engines
								a.tag(href='#') everything
								a.tag(href='#') bored


				//
					div#sidebar
						div.module
							h4 Lists


		script(type='text/javascript',language='javascript')
			var Bookmarkies = Bookmarkies || {};
			Bookmarkies.Bookmarks = !{JSON.stringify(Bookmarks)};

			$(function() {
				var template = dust.compile($('#bookmark-template').html(), 'bookmark-template');
				dust.loadSource(template);
				dust.render('bookmark-template', {bookmarks:Bookmarkies.Bookmarks}, function(err, out) {
					$('#bookmarks-list-wrapper').html(out);
					debugger;
				});
			});