doctype 5
html
	head
		title Bookmarki.es - A place for bookmarks

		link(href='main2.css',rel='stylesheet',media='screen')

	body
		div#container
			div#header
				div#nav-area
					span.logo.float Bookmarki.es
					div.float-right.clearfix Login About Contact

			div#content
				div#mainbar
					div.title
						h1 Bookmarks
						div.tabs
							a Add Bookmark
							a Search

				div#sidebar
					div.module
						h4 Lists