doctype html
html(ng-app='bookmarkies')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='csrf-token', content=_csrf)

        title Bookmarki.es - A place for bookmarks

        // bootstrap
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='js/directives/ng-tags/ng-tags-input.css')
        link(rel='stylesheet', href='js/directives/ng-dialog/ngdialog.css')
        link(rel='stylesheet', href='js/directives/ng-dialog/ngdialog-theme-default.css')
        link(rel='stylesheet', href='css/main.css')

        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js')

        // angular
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
        script(src='//code.angularjs.org/1.4.3/angular-route.min.js')
        script(src='//code.angularjs.org/1.4.3/angular-cookies.min.js')
        script(src='//code.angularjs.org/1.4.3/angular-sanitize.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js')
        script(src='js/directives/ng-dialog/ngDialog.js')

        script(src='js/app.js')

        // services
        script(src='js/services/cache-service.js')
        script(src='js/services/bookmarks-service.js')
        script(src='js/directives/search-filter/search-filter-service.js')
        script(src='js/services/user-service.js')
        script(src='js/services/analytics-service.js')
        script(src='js/services/bookmark-lists-service.js')

        // directives
        script(src='js/directives/ng-tags/ng-tags-input.js')
        script(src='js/directives/bookmarks-list/bookmarks-list.js')
        script(src='js/directives/bookmarks-list/bookmark.js')
        script(src='js/directives/search-filter/search-filter.js')
        script(src='js/directives/tags-list/tags-list.js')
        script(src='js/directives/saved-searches/saved-searches.js')
        script(src='js/directives/user-presence/user-presence.js')
        script(src='js/directives/bookmark-lists/bookmark-lists.js')
        script(src='js/directives/input-enter.js')

        // controllers
        script(src='js/login/login-controller.js')
        script(src='js/home/home-controller.js')
        script(src='js/user/user-settings-controller.js')

        body
          .container(ui-view)

        include partials/google-analytics