html { font-family:'Lucida Grande', 'Open Sans', 'Arial'; }
html * { font-family:inherit; }

#main-container {
    margin-top:50px;
}

.navbar-default .logo {
    width:160px;
    margin-top:4px;
}
.navbar .link { line-height:40px; margin-right:40px; color:#a8a8a8; cursor:pointer; }
.navbar .link:hover { color:#000; }

.search-form {
    margin-top:8px;
}
.add-form {
    margin-top:8px;
}

/* bookmarks list */
.main-column { width:800px; display:inline-block; }
.bookmarks-list { width:800px; }
.bookmarks-list .title { font-size:18px; font-weight:bold; margin:20px 0 10px 0; }

.search-form tags-input { margin-right:72px; }
.add-form tags-input { margin-right:60px; }
.search-form input { border:solid 1px darkgrey; }
.add-form label { font-weight:normal; }
.add-form input { border:solid 1px darkgrey; }

tags-input .tags { box-shadow:none; border:solid 1px darkgrey; }
.bookmarks-list .bookmark input { width:100%; }
.bookmarks-list .bookmark.not-editing input { border:0; }
.bookmarks-list .bookmark.not-editing tags-input { outline:none; }
.bookmarks-list .bookmark.not-editing tags-input:focus { outline:none; }
.bookmarks-list .bookmark.not-editing tags-input .host { outline:none; }
.bookmarks-list .bookmark.not-editing tags-input .tags { border:0; }
.bookmarks-list .bookmark.not-editing tags-input .tags input { display:none; }
.bookmarks-list .bookmark.not-editing tags-input .tags ul li a.remove-button { display:none; }


.bookmark { position:relative; padding-left:20px; margin-left:-20px; border-bottom:solid 1px #e0e0e0; padding-bottom:8px; margin-bottom:8px; }
.bookmark .action { visibility:hidden; position:absolute; left:0px; display:inline-block; width:18px; height:18px; font-size:18px; color:#a8a8a8; cursor:pointer; }
.bookmark:hover .action { visibility:visible; }
.bookmark .action:hover { color:#000; }
.bookmark .action.edit { top:0px; }
.bookmark .action.save { top:0px }
.bookmark .action.delete { top:20px; }
.bookmark .action.cancel { top:40px; }
.bookmark .name { color:#0c65a5; font-size:16px; cursor:pointer; }
.bookmark .name:hover { color:#30a7fc; }
.bookmark .name i { color: #e4edf4; font-size:14px; }
.bookmark .name i:hover { color:#30a7fc; }
.bookmark .url { font-size:12px; margin-top:-2px; margin-bottom:0; }


/* right column */
.right-column { width:320px; display:inline-block; }

.side-section .header { font-size:18px; }

/* tags */
tags-input .tag-list .tag-item, .tag-list .tag-item {
    height:22px;
    line-height:22px;
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    background:#e4edf4;
    border-radius:0;
    border:0;
    color:#3e6d8e;
    cursor:pointer;
}
.tag-list .tag-item:hover {
    background-color:#dae6ef;
}

/* OVERIDES */
.navbar-default { min-height:0; height:40px; }
.nav-tabs { height:30px; }
.nav-tabs > li > a { border-radius:0; }
.nav > li > a { padding:4px 15px; }

.form-control { border-radius:0; height:28px; padding:2px 6px; }
.form-group { margin-bottom:8px; }
@media (min-width: 768px) { .form-horizontal .control-label { padding-top:2px; } }

tags-input { height:30px; }
tags-input .host { margin:0; }
.tags li.tag-item { height:22px; line-height:22px; }