<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="link pull-right" ng-click="logout()">Logout</span>
        <user-presence></user-presence>

        <img class="logo" src="img/bookmarkies_logo.png"/>
    </div>
</nav>

<div class="main-container" class="clearfix">

    <div class="right-column pull-right">
        <tags-list></tags-list>
        <saved-searches></saved-searches>
    </div>

    <div class="main-column">

        <!-- USER SETTINGS FORM STARTS HERE -->
        <h1>User Settings</h1>

        <div class="form-row">
            <span class="label">Name</span>
            <span class="value">{{user.profile.name}}</span>
        </div>
        <div class="form-row">
            <span class="label">Email</span>
            <span class="value">{{user.email}}</span>
        </div>

        <div class="form-row">
            <span class="btn btn-default" ng-click="logout()">Logout</span>
        </div>

        <h2>Danger Zone</h2>

        <div class="form-row">
            <span class="btn btn-danger warn" ng-click="closeAccount()">Close Account</span>
        </div>

    </div>

</div>