<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="logo">Bookmarkies</span>
    </div>
</nav>

<div id="main-container">
    <div class="form-area">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active':displaySearch}"><a href="#" ng-click="showSearch()">Search</a></li>
            <li role="presentation" ng-class="{'active':displayAdd}"><a href="#" ng-click="showAdd()">Add</a></li>
        </ul>

        <bookmarks-search-filter ng-show="displaySearch"></bookmarks-search-filter>

        <div class="add-form form-horizontal" ng-show="displayAdd">
            <div class="form-group">
                <label for="url" class="col-sm-1 control-label">Url </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="url" ng-model="newBookmark.url"/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-1 control-label">Title </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" ng-model="newBookmark.title"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Tags </label>
                <div class="col-sm-10">
                    <tags-input ng-model="newBookmark.tags"></tags-input>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addBookmark()">Save</button>
            </div>
        </div>
    </div>

    <bookmarks-list></bookmarks-list>

</div>