<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <span class="link pull-right" ng-click="logout()">Logout</span>

        <img class="logo" src="img/bookmarkies_logo.png"/>
    </div>
</nav>

<div class="main-container" class="clearfix">

    <div class="right-column pull-right">
        <tags-list></tags-list>
        <saved-searches></saved-searches>
    </div>

    <div class="main-column">
        <div class="form-area">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{'active':displaySearch}"><a href="#" ng-click="showSearch()">Search</a></li>
                <li role="presentation" ng-class="{'active':displayAdd}"><a href="#" ng-click="showAdd()">Add</a></li>
            </ul>

            <bookmarks-search-filter ng-show="displaySearch"></bookmarks-search-filter>

            <div class="add-form form-horizontal" ng-show="displayAdd">
                <div class="form-group">
                    <label for="url" class="col-sm-1 control-label">Url </label>
                    <div class="col-sm-10">
                        <input type="text" tabindex="1" class="form-control" id="url" ng-model="newBookmark.url"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-1 control-label">Title </label>
                    <div class="col-sm-10">
                        <input type="text" tabindex="2" class="form-control" id="title" ng-model="newBookmark.name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Tags </label>
                    <div class="col-sm-10">
                        <button type="button" tabindex="4" class="pull-right btn btn-primary btn-sm" ng-click="addBookmark()">Save</button>
                        <tags-input tabindex="3" ng-model="newBookmark.tags"></tags-input>
                    </div>
                </div>
            </div>
        </div>

        <bookmarks-list></bookmarks-list>

    </div>

</div>