<div class="side-section">
    <div class="header">Bookmark Lists</div>
    <div class="bookmark-lists">

        <div class="empty-list" ng-show="!bookmarkLists || !bookmarkLists.length">
            Nothing here yet...
        </div>

        <div class="bookmark-list" ng-repeat="list in bookmarkLists">
            <i class="fa" ng-class="{'fa-star-o':!list.starred, 'fa-star':list.starred}" ng-click="list.starred ? unstarList(list._id) : starList(list._id)"></i>
            <span class="name link" ng-click="goToList(list._id, list.name)">{{list.name}}</span>
            <span class="float-right" ng-click="deleteList(list._id)">delete</span>
        </div>

        <div class="add-form">
            <div class="create-list-form" ng-show="creatingList">
                <input type="text" enter-key="saveNewList()" ng-model="newListName"/>
                <span class="button primary" ng-click="saveNewList()">Save</span>
                <span class="button link" ng-click="cancelCreate()">Cancel</span>
            </div>
            <span class="button primary" ng-click="createList()" ng-show="!creatingList">Create</span>
        </div>

    </div>
</div>